<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Nemesis</servlet-name>
		<servlet-class>com.project.nemesis.NemesisServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LocalImages</servlet-name>
		<servlet-class>com.project.nemesis.LocalImages</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetImage</servlet-name>
		<servlet-class>com.project.nemesis.GetImage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>com.project.nemesis.FileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetFileInfo</servlet-name>
		<servlet-class>com.project.nemesis.GetFileInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveFile</servlet-name>
		<servlet-class>com.project.nemesis.SaveFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadFile</servlet-name>
		<servlet-class>com.project.nemesis.DownloadFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LocalImages</servlet-name>
		<url-pattern>/localImages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetImage</servlet-name>
		<url-pattern>/s/getfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/s/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetFileInfo</servlet-name>
		<url-pattern>/s/getfileinfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadFile</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveFile</servlet-name>
		<url-pattern>/save</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
