/* -- global -- */

body{
	background-color:#2d2d2d;
	padding:0px;
	margin:0px;	
	font-family:Arial, Helvetica, sans-serif;
	color:#8f8f8f;
	font-size:12px;
}

/* -- headers -- */


header{
	background-color:#000000;
	height:45px;
}

#main{
	min-width:1200px;
}
.k-numeric-wrap{
	margin-top:10px;
}
#exportBtn{
	float:right;
	margin:11px
}

#openBookBtn{
	float:left;
	color:#fff;
	text-decoration: underline;
	margin:11px;
	cursor: pointer;
}

/* open book window*/
.k-window .k-window-content{
	padding:30px;
}

.window-accept-btn{
	cursor: pointer;
}

.window-msg{
	margin: 20px 0;
	color: #f00;
}

.ok-msg{
	color:green;
}


/*buttons*/

.button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #999999), color-stop(1, #474747) );
	background:-moz-linear-gradient( center top, #999999 5%, #474747 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#474747');
	background-color:#999999;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #000000;
	display:inline-block;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	padding:5px 25px;
	text-decoration:none;
	text-shadow:1px 1px 0px #545454;
	cursor:pointer;
	margin:5px;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #474747), color-stop(1, #999999) );
	background:-moz-linear-gradient( center top, #474747 5%, #999999 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#474747', endColorstr='#999999');
	background-color:#474747;
}.button:active {
	position:relative;
	top:1px;
}




/* -- main -- */


/* -- mainPanel -- */

#splitterWrapper{
	height:800px;
	border-top:1px solid #7a7a7a;
}
#leftPanel{
	height:800px;
}

#leftPanelWrapper{
	padding:10px;
}

#leftPanelWrapper span.title{
	font-size:15px;
	font-weight: bold;
	color:#d1d1d1;
}

#treeview-left{
	margin-top:10px;
}

#middlePanel{
	
	height:800px;
}

#middlePanel.k-pane{
	background-color:#ff0000;
}
#rightPanel{
	height:800px;
}

div.bodyTabStrip{
	min-height : 250px;
}

div.bodyLowerTabStrip{
	min-height : 200px;
}

div.bodyTabStrip ul{
	padding: 10px;
}
div.bodyTabStrip li{
	 list-style: none;
	 margin:6px;
}

.inputWrapper{
	margin:5px;
}
#canvasWrapper{
	width : 100%;
	text-align : center;
	padding-top:10px;
}

#canvasWrapper span.title{
	font-size:15px;
	font-weight: bold;
	color:#d1d1d1;
}

#canvasWrapper .canvas-container{
	margin : 20px auto;	
}

#mainCanvas{
	border : 1px solid #7a7a7a;
	background-color : #000000;

}


/* -- localImages -- */

 .localImage{

	float: left;
	width: 35px;
	height: 35px;
	margin: 2px;
	padding: 5px;
	-moz-box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
            
 }

.localImage img{

	float: left;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 12px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 12px;
    -moz-border-radius-topright: 0;
    border-radius: 12px;
    border-top-right-radius: 0;
            
}

        
.k-listview:after, .localImages dl:after{

	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
            
 }

 .k-listview{

	border: 0;
	padding: 0 0 20px 0;
	min-width: 0;
        	
 }

/* -- footer -- */

footer{
	background-color:#000000;
	height:20px;
}

/* scenes */
#sceneButtonContainer{
	padding:5px;
	height: 25px
}
#sceneButtonContainer button{
	float: right;
	
}

#sceneList{
	clear:both;
}

.scene-list-item{
	float: left;
	width: 110px;
	height:110px;
	margin:5px 15px;
	padding:5px;
	border-style: solid;
	border-color: #999;
	border-width:2px;
	border-radius: 15px;
	cursor: pointer;
}

.scene-list-item.selected{
	border-color:#F0713A
}
.imgSnapshot{
	width:110px;
	height:110px;
	border-radius: 10px;
}


