

/* -- headers -- */










/* -- main -- */


/* -- mainPanel -- */

#splitterWrapper{
	height:800px;
}
#leftPanel{
	height:800px;
}
#middlePanel{
	height:800px;
}
#rightPanel{
	height:800px;
}

div.bodyTabStrip{
	min-height : 250px;
}

div.bodyLowerTabStrip{
	min-height : 200px;
}


#canvasWrapper{
	width : 100%;
	text-align : center;
}

#canvasWrapper .canvas-container{
	margin : 50px auto;	
}

#mainCanvas{
	border : 1px solid #ccc;
	background-color : #000000;

}

/* -- footer -- */