<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bookName</key>
	<string>Mi primer libroaa</string>
	<key>btnNextImage</key>
	<string></string>
	<key>btnPrevImage</key>
	<string></string>
	<key>mainBgMusic</key>
	<string></string>
	<key>openingScene</key>
	<string></string>
	<key>scenes</key>
	<dict>
		<key>escena 1</key>
		<dict>
			<key>showNextBtn</key>
			<false/>
			<key>showPrevBtn</key>
			<false/>
			<key>actors</key>
			<dict>
			</dict>
		</dict>
		<key>escena 2</key>
		<dict>
			<key>showNextBtn</key>
			<false/>
			<key>showPrevBtn</key>
			<false/>
			<key>actors</key>
			<dict>
				<key>botonNext_on.png</key>
				<dict>
					<key>uid</key>
					<string>3c584024-b314-472d-989e-1d7d77f2fb23</string>
					<key>image</key>
					<string>botonNext_on.png</string>
					<key>angle</key>
					<string>0</string>
					<key>zindex</key>
					<string></string>
					<key>height</key>
					<string>82</string>
					<key>width</key>
					<string>82</string>
					<key>top</key>
					<string>109</string>
					<key>left</key>
					<string>185</string>
					<key>scaleX</key>
					<string>1</string>
					<key>scaleY</key>
					<string>1</string>
					<key>anchor</key>
					<false/>
					<key>actors</key>
					<dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>escena 3</key>
		<dict>
			<key>showNextBtn</key>
			<false/>
			<key>showPrevBtn</key>
			<false/>
			<key>actors</key>
			<dict>
				<key>fondo-hd.png</key>
				<dict>
					<key>uid</key>
					<string>0cde7077-eef4-4b88-8db7-7359a9f0631f</string>
					<key>image</key>
					<string>fondo-hd.png</string>
					<key>angle</key>
					<string>0</string>
					<key>zindex</key>
					<string></string>
					<key>height</key>
					<string>640</string>
					<key>width</key>
					<string>960</string>
					<key>top</key>
					<string>240</string>
					<key>left</key>
					<string>300</string>
					<key>scaleX</key>
					<string>1</string>
					<key>scaleY</key>
					<string>1</string>
					<key>anchor</key>
					<false/>
					<key>actors</key>
					<dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>escena 4</key>
		<dict>
			<key>showNextBtn</key>
			<false/>
			<key>showPrevBtn</key>
			<false/>
			<key>actors</key>
			<dict>
				<key>comoda.png</key>
				<dict>
					<key>uid</key>
					<string>89b1da7e-0e9a-4e88-a4bf-924e3e6838bd</string>
					<key>image</key>
					<string>comoda.png</string>
					<key>angle</key>
					<string>0</string>
					<key>zindex</key>
					<string></string>
					<key>height</key>
					<string>194</string>
					<key>width</key>
					<string>124</string>
					<key>top</key>
					<string>280</string>
					<key>left</key>
					<string>159</string>
					<key>scaleX</key>
					<string>1</string>
					<key>scaleY</key>
					<string>1</string>
					<key>anchor</key>
					<false/>
					<key>actors</key>
					<dict>
						<key>botonPrev_on.png</key>
						<dict>
							<key>uid</key>
							<string>75f0499c-77d5-41cf-bf48-065ffea62eac</string>
							<key>image</key>
							<string>botonPrev_on.png</string>
							<key>angle</key>
							<string>0</string>
							<key>zindex</key>
							<string></string>
							<key>height</key>
							<string>82</string>
							<key>width</key>
							<string>82</string>
							<key>top</key>
							<string>240</string>
							<key>left</key>
							<string>300</string>
							<key>scaleX</key>
							<string>1</string>
							<key>scaleY</key>
							<string>1</string>
							<key>anchor</key>
							<false/>
							<key>actors</key>
							<dict>
								<key>botonNext_on.png</key>
								<dict>
									<key>uid</key>
									<string>991b095f-7910-4290-b160-307bdeb04faf</string>
									<key>image</key>
									<string>botonNext_on.png</string>
									<key>angle</key>
									<string>0</string>
									<key>zindex</key>
									<string></string>
									<key>height</key>
									<string>82</string>
									<key>width</key>
									<string>82</string>
									<key>top</key>
									<string>137</string>
									<key>left</key>
									<string>346</string>
									<key>scaleX</key>
									<string>1</string>
									<key>scaleY</key>
									<string>1</string>
									<key>anchor</key>
									<false/>
									<key>actors</key>
									<dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>escena 555</key>
		<dict>
			<key>showNextBtn</key>
			<false/>
			<key>showPrevBtn</key>
			<false/>
			<key>actors</key>
			<dict>
			</dict>
		</dict>
	</dict>
	<key>showBoundingBox</key>
	<false/>
</dict>
</plist>
